body{ 
    padding: 4rem 0rem; /* DAR UN POCO DE PADDING A LA PARTE SUPERIOR POR EL HEADER FIXED*/
}
h2, h3 { /* LE AGREGAMOS UN PEQUEÑO MARGEN A LOS TITULOS */
    margin: 1rem 0;
}

.content-max-width { /* ESTILO DEL CONTENEDOR GENERAL */
    max-width: 500px;
    margin: 0 auto;
    padding: 0rem 2rem;
}

.hide{
    display: none;
}

.btn { /* SEPARÉ UN POCO LOS BOTONES CON UN MARGEN */
    margin: 0.5rem;
    border-top: solid 2px;
    border-left: solid 1px;
    border-radius: 0;
    background-color: #C77DFF;
    &:hover{
    border-top: solid 2px;
    border-left: solid 1px;
    border-radius: 0;
    background-color: #9D4EDD;
    }
}

/*LOGIN*/
.index-bg{
    background-color: #9D4EDD;
}
.form-control{
    border: none;
    border-bottom: solid 2px;
}
.alert-success{ /* ALERTA DATOS CORRECTOS*/
    background: linear-gradient(to bottom, rgba(160, 240, 160, 1), rgba(140,245,140,0.6),rgba(140,245,140,0.4));
    padding: 10px;
    border: solid green 2px;
    border-bottom: none;
    justify-content: center;
    align-items: center;
}
.alert-success p{
    margin: 0;
}
.alert-danger{ /* ALERTA DATOS INCORRECTOS*/
    background: linear-gradient(to bottom, rgb(241, 78, 78, 0.7), rgba(255, 155, 155, 0.6),rgba(255, 159, 159, 0.4));
    padding: 10px;
    border: solid red 2px;
    border-bottom: none;
    justify-content: center;
    align-items: center;
}
.alert-danger p{
    margin: 0;
}


/* ESPECÍFICO DE LA PANTALLA MENU PRINCIPAL */
.border { /* CAMBIA LA PRESENTACIÓN DEL CUADRO DONDE APARECE EL MONTO ACTUAL */
    border: solid 1px green;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    background-color: rgba(246, 255, 252, 0.3);
}


/* ESPECIFICO DE LA PANTALLA DE CONTACTOS */
.list-group-item:hover { /* CAMBIAMOS EL CURSOR PARA QUE PAREZCA QUE SE PUEDE HACER CLICK AL CONTACTO (FUNCIONALIDAD QUE AGREGARÍAMOS LUEGO CON JS) */
    cursor: pointer;
}
.butons{
    justify-content: center;
    flex-wrap: wrap;
}

.alert-span{
    font-size: smaller;
}
.input-alert{
    padding: 0;
}


/*HEADER*/
header{
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0%;
    height: 4rem;
    background-color:#9D4EDD;
}
header img{
    height: 4rem;
}
.perfil-img{
    border-radius: 50%;
    object-fit: cover;
    width: 50px;
    height: 50px;
    &:hover{
        transform: scale(1.05);
        cursor: pointer;
    }
}


/*NAV*/
/*  MOBILE  */
.actual{ /* PARA MARCAR LA PAGINA ACTUAL*/
    color: rgb(61, 14, 138);
}
.nav-mobile{
    background-color: #9D4EDD;
    position: fixed;
    width: 100%;
    height: 4rem;
    bottom: 0;
    padding: 1rem;
}
.nav-mobile ul{
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
}
.nav-mobile ul li a{
    font-size: 25px;
    text-decoration: none;
    color: aliceblue;
}


/*  DESKTOP*/
.nav-desktop ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.nav-desktop ul li a{
    text-decoration: none;
    color: aliceblue;
}

dialog .fa-x{
    cursor: pointer;
}